In [ ]:
import mysql.connector as sc

In [ ]:
myconn = sc.connect( 
    database = "adbms",
    host = "localhost",
    password = "Kushashu123",
    user = "root"
)
print(myconn)

In [ ]:
cursor = myconn.cursor(buffered = True)

In [4]:
### Table Required
## Movie ## MOVIE : ID,NAME ,TIME(min),GENRE, rating(Out of 5)
## Ticket 
## Theater ## Theater :ID, NAME , capacity ,filled,
## city

In [5]:
query = "show tables"
cursor.execute(query)
for x in cursor:
    print(x)

('city',)
('department_salary_total',)
('dept_avg',)
('dp',)
('faculty',)
('instructor',)
('movie',)
('teaches',)
('teaches2',)
('theater',)
('user_detail',)
('user_view',)

In [ ]:
query = "drop table theater"
cursor.execute(query)

In [ ]:
## Booking
query = """ create table booking (
booking_id Integer primary key,
movie_id Integer,
theater_id Integer,
)"""

In [ ]:

theater_id Integer primary key,
Name varchar(40) not null,
capacity Integer not null,
filled Integer not null,
screen Integer,

In [ ]:
query = """create table theater(
theater_id Integer primary key,
Name varchar(40) not null,
capacity Integer not null,
filled Integer not null,
pincode Integer,
screen Integer,
foreign key(pincode) references city(pincode),
check (filled>-1 and capacity>0))"""
cursor.execute(query)

In [ ]:
import sqlite3

class Movie:
    def __init__(self, movie_id, movie_name, movie_rating, movie_duration):
        self.movie_id = movie_id
        self.movie_name = movie_name
        self.movie_rating = movie_rating
        self.movie_duration = movie_duration

class Theater:
    def __init__(self, theater_id, theater_name, city):
        self.theater_id = theater_id
        self.theater_name = theater_name
        self.city = city

class Screen:
    def __init__(self, screen_id, screen_name, theater_id):
        self.screen_id = screen_id
        self.screen_name = screen_name
        self.theater_id = theater_id

class BookingSystem:
    def __init__(self):
        self.conn = sqlite3.connect('movie_database.db')
        self.cur = self.conn.cursor()
        self.cur.execute('''CREATE TABLE IF NOT EXISTS movies
                            (movie_id INTEGER PRIMARY KEY,
                             movie_name TEXT,
                             movie_rating TEXT,
                             movie_duration INTEGER)''')
        self.cur.execute('''CREATE TABLE IF NOT EXISTS theaters
                            (theater_id INTEGER PRIMARY KEY,
                             theater_name TEXT,
                             city TEXT)''')
        self.cur.execute('''CREATE TABLE IF NOT EXISTS screens
                            (screen_id INTEGER PRIMARY KEY,
                             screen_name TEXT,
                             theater_id INTEGER,
                             FOREIGN KEY (theater_id) REFERENCES theaters(theater_id))''')
        self.cur.execute('''CREATE TABLE IF NOT EXISTS bookings
                            (booking_id INTEGER PRIMARY KEY,
                             screen_id INTEGER,
                             movie_id INTEGER,
                             FOREIGN KEY (screen_id) REFERENCES screens(screen_id),
                             FOREIGN KEY (movie_id) REFERENCES movies(movie_id))''')

    def add_movie(self, movie):
        self.cur.execute("INSERT INTO movies VALUES (?, ?, ?, ?)", (movie.movie_id, movie.movie_name, movie.movie_rating, movie.movie_duration))
        self.conn.commit()

    def add_theater(self, theater):
        self.cur.execute("INSERT INTO theaters VALUES (?, ?, ?)", (theater.theater_id, theater.theater_name, theater.city))
        self.conn.commit()

    def add_screen(self, screen):
        self.cur.execute("INSERT INTO screens VALUES (?, ?, ?)", (screen.screen_id, screen.screen_name, screen.theater_id))
        self.conn.commit()

    def book_ticket(self, screen_id, movie_id):
        self.cur.execute("INSERT INTO bookings (screen_id, movie_id) VALUES (?, ?)", (screen_id, movie_id))
        self.conn.commit()

    def get_movies(self):
        self.cur.execute("SELECT * FROM movies")
        return self.cur.fetchall()

    def get_theaters(self):
        self.cur.execute("SELECT * FROM theaters")
        return self.cur.fetchall()

    def get_screens(self):
        self.cur.execute("SELECT * FROM screens")
        return self.cur.fetchall()

    def get_bookings(self):
        self.cur.execute("SELECT * FROM bookings")
        return self.cur.fetchall()

    def close_connection(self):
        self.conn.close()

booking_system = BookingSystem()

# adding movies to the system
movie1 = Movie(1, "Avengers: Endgame", "PG-13", 181)
movie2 = Movie(2, "The Dark Knight", "PG-13", 152)
booking_system.add_movie(movie1)
booking_system.add_movie(movie2)

# adding theaters to the system
theater1 = Theater(1, "AMC Loews Lincoln Square 13", "New York")
theater2 = Theater(2, "Regal Union Square ScreenX & 4DX", "New York")