In [80]:
import mysql.connector as sc

In [81]:
myconn = sc.connect( 
    database = "adbms",
    host = "localhost",
    password = "Kushashu123",
    user = "root"
)
print(myconn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016AF5563B20>

In [82]:
cursor = myconn.cursor(buffered = True)

In [5]:
## MOVIE
query = """create table movie (
movie_id Integer primary key,
Name varchar(40) not null,
Genre varchar(40) not null,
duration Integer not null,
check ((duration between 15 and 200)) )"""
cursor.execute(query)

In [38]:
## Theater
query = """create table theater(
theater_id Integer primary key,
Name varchar(40) not null,
capacity Integer not null,
filled Integer not null,
pincode Integer,
screen Integer,
foreign key(pincode) references city(pincode),
check (filled>-1 and capacity>0))"""
cursor.execute(query)

In [23]:
## City 
query = """create table city(
pincode integer primary key,
Name varchar(30) not null)"""
cursor.execute(query)

In [40]:
## Current Running Shows
query = """create table shows(
movie_id integer,
theater_id integer,
screen integer,
foreign key(movie_id) references movie(movie_id),
foreign key(theater_id) references theater(theater_id)
)"""
cursor.execute(query)

In [67]:
## booking
query = """create table booking(
user_id integer primary key,
user_name varchar(30),
movie_name varchar(30),
theater_name varchar(30),
screen integer,
city varchar(30),
seat_no integer
)"""
cursor.execute(query)

In [18]:
### inserting  Movie
query = """insert into movie values(%s,%s,%s,%s)"""
cursor.execute(query,(1,"Bhool Bhulaiya","comedy",154))
cursor.execute(query,(2,"Bhool Bhulaiya 2","comedy",130))
cursor.execute(query,(3,"pathaan","action",146))
cursor.execute(query,(4,"Drishayam","thriller",130))

In [83]:
query = """select * from theater"""
cursor.execute(query)
print(cursor.rowcount)
for x in cursor:
    print(x)

7
(1, 'Carnival', 120, 0, 208007, 1)
(2, 'Carnival', 120, 0, 208007, 2)
(3, 'PVR', 120, 0, 208007, 1)
(4, 'PVR', 120, 0, 208007, 2)
(5, 'PVR', 120, 0, 208007, 3)
(6, 'INOX', 120, 0, 826004, 1)
(7, 'INOX', 120, 0, 826004, 2)

In [13]:
## Adding theaters
query = """insert into theater values(%s,%s,%s,%s,%s,%s)"""
cursor.execute(query,(6,"INOX",120,0,826004,1))
cursor.execute(query,(7,"INOX",120,0,826004,2))

In [20]:
## Creating show 
query = """insert into shows values(%s,%s,%s)"""
cursor.execute(query ,(1,1,1))
cursor.execute(query ,(2,2,2))
cursor.execute(query ,(1,3,1))
cursor.execute(query ,(1,4,2))
cursor.execute(query ,(2,5,3))

In [84]:
###  Creating Current Show View 
def show_available():
    print("||    Movie    || Duration || Theater Name || City || Total Seats || Available || Screen No")
    query = """select m.name,m.duration,t.name,c.name,t.capacity,(t.capacity-t.filled),t.screen
    from movie m,theater t ,shows s ,city c where s.movie_id = m.movie_id 
    and t.theater_id = s.theater_id and t.pincode = c.pincode and s.screen=t.screen and
    (t.capacity-t.filled)>0"""
    cursor.execute(query)
    for x in cursor:
        print(x)

In [85]:
## User interface
print("___________________Welcome in Movie portal________________________")
print("___________________Current Available show_________________________")
show_available()
print("____________________________Thanks________________________________")

___________________Welcome in Movie portal________________________
___________________Current Available show_________________________
||    Movie    || Duration || Theater Name || City || Total Seats || Available || Screen No
('Bhool Bhulaiya', 154, 'Carnival', 'Kanpur', 120, 120, 1)
('Bhool Bhulaiya', 154, 'Carnival', 'Kanpur', 120, 120, 1)
('Bhool Bhulaiya', 154, 'Carnival', 'Kanpur', 120, 120, 2)
('Bhool Bhulaiya 2', 130, 'Carnival', 'Kanpur', 120, 120, 2)
('Bhool Bhulaiya', 154, 'PVR', 'Kanpur', 120, 120, 1)
('Bhool Bhulaiya', 154, 'PVR', 'Kanpur', 120, 120, 2)
('Bhool Bhulaiya 2', 130, 'PVR', 'Kanpur', 120, 120, 3)
____________________________Thanks________________________________

In [88]:
### isshow available
def show_available(movie,theater,screen,city):
    query = """select m.name,m.movie_id,t.name,t.theater_id,c.name,c.pincode,t.filled,
    (t.capacity-t.filled),t.screen from movie m,theater t ,shows s ,city c where s.movie_id = m.movie_id 
    and t.theater_id = s.theater_id and t.pincode = c.pincode and s.screen=t.screen and
    (t.capacity-t.filled)>0"""
    cursor.execute(query)
    for x in cursor:
        if(x[0].lower()==movie and x[2].lower()==theater and x[7]>0 and x[8]==screen and x[4].lower()==city):
            return (True ,x)
    return (False,(0))

In [89]:
### Perform booking 
def update_table(id,remaining):
    query = """update theater set filled = (%s) where theater_id = (%s)"""
    cursor.execute(query ,(remaining,id))
    
def book_ticket(details,user_id ,user_name):
    update_table(details[3],details[7])
    query = "insert into booking values(%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(query,(user_id,user_name,details[0],details[2],details[8],details[4],details[6]))
    return True

In [90]:
## Booking 
query = "select * from booking"
cursor.execute(query)
user_id = cursor.rowcount+1
city = input("Enter Your City ").lower()
theater = input("Enter Theater Name").lower()
movie = input("Enter movie Name").lower()
screen = int(input("Enter Screen No"))
isavailable,details = show_available(movie,theater,screen,city)
if isavailable:
    user_name = input("Enter Your Name")
    if(book_ticket(details,user_id,user_name)):
        print("BooKing Successfull")
    else:
        print("ERROR") 
else:
    print("__________________Sorry! No Show Available__________________")

Enter Your City kanpur
Enter Theater Namepvr
Enter movie NameBhool Bhulaiya
Enter Screen No2
Enter Your NameAshutosh

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [66]:
query = "drop table booking"
cursor.execute(query)

In [ ]:
# txt = "banana"

# x = txt.center(20, "O")

# print(x)