In [ ]:
### Name : Ashutosh Singh Kushwaha
### Admission No : 22MT0084
### LAB 7 project

#### Create a python program/application which asks users to fill up a form
#### (say name, address, contact number etc) and inserts those values into 
#### a corresponding table in a database. Use git to manage the code.

In [2]:
import mysql.connector as sc
import time 
start = time.time()
myconn = sc.connect(
    host = "localhost",
    user = "root",
    password = "Kushashu123",
    database = "adbms"
)
end = time.time()
print("Time Taken to Establish Connection(sec): ",end-start)
print(myconn)

Time Taken to Establish Connection(sec):  0.040009260177612305
<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A9BA795510>

In [3]:
## Cursor
cursor = myconn.cursor(buffered =True)

In [5]:
## Creating Table : user_detail 
query = "create table user_detail\
(Name varchar(20),\
address varchar(50),\
contact int\
);"
cursor.execute(query)

ProgrammingError: 1050 (42S01): Table 'user_detail' already exists

In [6]:
### Taking Input From User 
name = input("Please Enter Your Name")
address = input("Please Enter Your Address")
contact = input("Please Enter Your Contact No:")
if(name.isnumeric() or contact.isalpha()):
    print("Invalid input Type")
else:
    query = "insert into user_detail(name ,address ,contact) values(%s,%s,%s);"
    cursor.execute(query,(name ,address,contact))
    print("Insertion SuccessFul")

Please Enter Your Nameasdf
Please Enter Your Addressasdfsa
Please Enter Your Contact No:1231231
Insertion SuccessFul

In [9]:
### Checking User Entered Data is inserted in Database or Not 
query = "select * from user_detail"
cursor.execute(query)
for x in cursor:
    print(x)

('asdf', 'asdfsa', 1231231)