In [17]:
## Name : Ashutosh Singh Kushwaha
## Admission No : 22MT0084
## ADBMS LAB 7

In [18]:
import mysql.connector as sc
import time 
start = time.time()
myconn = sc.connect(
    host = "localhost",
    user = "root",
    password = "Kushashu123",
    database = "adbms"
)
end = time.time()
print("Time Taken to Establish Connection(sec): ",end-start)
print(myconn)

Time Taken to Establish Connection(sec):  0.016001224517822266
<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DB5C5A72B0>

In [19]:
## Testing Connection 
cursor = myconn.cursor(buffered = True)
start = time.time()
cursor.execute("select * from teaches")
print(cursor.rowcount)
for x in cursor:
    print(x)

15
(10101, 'CS-101', '1', 'Fall', 2017)
(10101, 'CS-315', '1', 'Spring', 2018)
(10101, 'CS-347', '1', 'Fall', 2017)
(12121, 'FIN-201', '1', 'Spring', 2018)
(15151, 'MU-199', '1', 'Spring', 2018)
(22222, 'PHY-101', '1', 'Fall', 2017)
(32343, 'HIS-351', '1', 'Spring', 2018)
(45565, 'CS-101', '1', 'Spring', 2018)
(45565, 'CS-319', '1', 'Spring', 2018)
(76766, 'BIO-101', '1', 'Summer', 2017)
(76766, 'BIO-301', '1', 'Summer', 2018)
(83821, 'CS-190', '1', 'Spring', 2017)
(83821, 'CS-190', '2', 'Spring', 2017)
(83821, 'CS-319', '2', 'Spring', 2018)
(98345, 'EE-181', '1', 'Spring', 2017)

### Question 1 
### Create a view of instructors without their salary called faculty

In [21]:
query = "create view faculty as select id , name , dept_name from instructor"
cursor.execute(query)

In [22]:
query = "select * from faculty"
start = time.time()
cursor.execute(query)
end = time.time()
for x in cursor:
    print(x)
print("Time Taken :",end-start)

(10101, 'Srinivasan ', 'Comp. Sci.')
(10211, 'Smith', 'Biology')
(12121, ' Wu', 'Finance')
(15151, 'Mozart', 'Music')
(22222, 'Einstein', 'Physics')
(32343, 'El Said', 'History')
(33456, 'Gold', 'Physics')
(45565, 'Katz', 'Comp. Sci.')
(58583, 'Califieri', 'History')
(76543, 'Singh', 'Finance')
(76766, 'Crick', 'Biology')
(83821, 'Brandt', 'Comp. Sci.')
(98345, 'Kim', 'Elec. Eng.')
Time Taken : 0.04002523422241211