In [ ]:
### Name : Ashutosh Singh Kushwaha
### Admission No : 22MT0084
### LAb 8

In [60]:
import mysql.connector as sc
myconn = sc.connect(
    host = 'localhost',
    user = 'root',
    password = 'Kushashu123',
    database = 'adbms'
)
cursor = myconn.cursor(buffered = True)
print(myconn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A2C977F940>

### Question 1
#### Given input as salary of three months (jan, feb, march), write a program that returns the total salary for quarter 1 (Q1).

In [44]:
#declaring and defining function
cursor.execute("set global log_bin_trust_function_creators = 1")
cursor.execute("create function calc_quarter(a double ,b double ,c double) returns double begin declare result double; \
set result = a+b+c ; return result; end)"

In [45]:
print("Enter a salary to calculate the total salary for quarter 1")
jan_salary = float(input("Enter salary of January :"))
feb_salary = float(input("Enter salary of February:"))
march_salary = float(input("Enter salary of March : "))
val = (jan_salary,feb_salary ,march_salary)
sql = "set @x = calc_quarter(%s,%s,%s) "
cursor.execute(sql,val)
cursor.execute("select @x")
myresult = cursor.fetchall()
for x in myresult:
    print("The total salary for quarter 1 : " ,x)

Enter a salary to calculate the total salary for quarter 1
Enter salary of January :120000
Enter salary of February:1333000
Enter salary of March : 130000
The total salary for quarter 1 :  (1583000.0,)

In [ ]:
### Question 2
### Commit your work on github

### Question 3,4
#### Alter the existing instructor table and add a column of age and fill in the values in it.
#### Create table ‘instructor’ with the columns as ID, name, dept_name, salary, age. Add the following tuples to the table.

In [22]:
query = "alter table instructor add column age int"
cursor.execute(query)

In [28]:
query = "insert into instructor values(%s,%s,%s,%s,%s)"
cursor.execute(query,(10101,'Srinivasan','Comp. Sci.',65000, 34))
cursor.execute(query,(12121,'Wu','Finance',90000, 38))
cursor.execute(query,(15151,'Mozart','Music',40000, 45))
cursor.execute(query,(22222,'Einstein','Physics',95000, 55))

In [61]:
### cross Check for insertion  
query = "select * from instructor"
cursor.execute(query)
for x in cursor:
    print(x)

(10101, 'Srinivasan', 'Comp. Sci.', 65000, 34)
(10211, 'Smith', 'Biology', 66000, None)
(12121, 'Wu', 'Finance', 90000, 38)
(15151, 'Mozart', 'Music', 40000, 45)
(22222, 'Einstein', 'Physics', 95000, 55)
(32343, 'El Said', 'History', 60000, None)
(33456, 'Gold', 'Physics', 87000, None)
(45565, 'Katz', 'Comp. Sci.', 75000, None)
(58583, 'Califieri', 'History', 62000, None)
(76543, 'Singh', 'Finance', 80000, None)
(76766, 'Crick', 'Biology', 72000, None)
(83821, 'Brandt', 'Comp. Sci.', 92000, None)
(98345, 'Kim', 'Elec. Eng.', 80000, None)

### Question 5
#### Create a function that helps distinguish whether an instructor is eligible for sabbatical or not.
#### An instructor can avail sabbatical only if his/her age is greater than 40. So, write a program
#### that takes as input an integer (representing age) and returns affirmatively if the integer is
#### greater than 40.

In [63]:
cursor.execute("set global log_bin_trust_function_creators = 1")
cursor.execute("create function isSabbatical (age int(10)) returns int begin declare result TINYINT; set result = age > 40; return result; end")

#### Question 6
#### Commit your work on github.

#### Question 7
#### Find all instructors who can avail sabbatical from the database.

In [64]:
query = "select name from instructor where isSabbatical(age)=1"
cursor.execute(query)
for x in cursor:
    print(x)

('Mozart',)
('Einstein',)

#### Question 8
#### Commit your work on github

#### Quesiton 9
#### Add columns of monthly salary, exemptions, taxes, gross_salary etc

In [70]:
cursor.execute("ALTER table instructor rename salary to monthly_salary")
cursor.execute("ALTER table instructor add column exemptions double")
cursor.execute("ALTER table instructor add column gross_salary double")

In [73]:
### Cross Check 
query = "desc instructor"
cursor.execute(query)
for x in cursor:
    print(x)

('ID', b'int', 'NO', 'PRI', None, '')
('name', b'varchar(20)', 'YES', '', None, '')
('dept_name', b'varchar(20)', 'YES', '', None, '')
('salary', b'int', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('exemptions', b'double', 'YES', '', None, '')
('gross_salary', b'double', 'YES', '', None, '')