In [17]:
## Name : Ashutosh Singh Kushwaha
## Admission No : 22MT0084
## ADBMS LAB 7

In [18]:
import mysql.connector as sc
import time 
start = time.time()
myconn = sc.connect(
    host = "localhost",
    user = "root",
    password = "Kushashu123",
    database = "adbms"
)
end = time.time()
print("Time Taken to Establish Connection(sec): ",end-start)
print(myconn)

Time Taken to Establish Connection(sec):  0.016001224517822266
<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DB5C5A72B0>

In [19]:
## Testing Connection 
cursor = myconn.cursor(buffered = True)
start = time.time()
cursor.execute("select * from teaches")
print(cursor.rowcount)
for x in cursor:
    print(x)

15
(10101, 'CS-101', '1', 'Fall', 2017)
(10101, 'CS-315', '1', 'Spring', 2018)
(10101, 'CS-347', '1', 'Fall', 2017)
(12121, 'FIN-201', '1', 'Spring', 2018)
(15151, 'MU-199', '1', 'Spring', 2018)
(22222, 'PHY-101', '1', 'Fall', 2017)
(32343, 'HIS-351', '1', 'Spring', 2018)
(45565, 'CS-101', '1', 'Spring', 2018)
(45565, 'CS-319', '1', 'Spring', 2018)
(76766, 'BIO-101', '1', 'Summer', 2017)
(76766, 'BIO-301', '1', 'Summer', 2018)
(83821, 'CS-190', '1', 'Spring', 2017)
(83821, 'CS-190', '2', 'Spring', 2017)
(83821, 'CS-319', '2', 'Spring', 2018)
(98345, 'EE-181', '1', 'Spring', 2017)

### Question 1 
### Create a view of instructors without their salary called faculty

In [21]:
query = "create view faculty as select id , name , dept_name from instructor"
cursor.execute(query)

In [22]:
query = "select * from faculty"
start = time.time()
cursor.execute(query)
end = time.time()
for x in cursor:
    print(x)
print("Time Taken :",end-start)

(10101, 'Srinivasan ', 'Comp. Sci.')
(10211, 'Smith', 'Biology')
(12121, ' Wu', 'Finance')
(15151, 'Mozart', 'Music')
(22222, 'Einstein', 'Physics')
(32343, 'El Said', 'History')
(33456, 'Gold', 'Physics')
(45565, 'Katz', 'Comp. Sci.')
(58583, 'Califieri', 'History')
(76543, 'Singh', 'Finance')
(76766, 'Crick', 'Biology')
(83821, 'Brandt', 'Comp. Sci.')
(98345, 'Kim', 'Elec. Eng.')
Time Taken : 0.04002523422241211

### Question 2
### Create a view of department salary totals

In [24]:
query = "create view dept_avg as  select dept_name , avg(salary) from instructor group by dept_name"
cursor.execute(query)

In [25]:
query = "select * from dept_avg"
start = time.time()
cursor.execute(query)
end = time.time()
for x in cursor:
    print(x)
print("Time Taken :",end-start)

('Comp. Sci.', Decimal('77333.3333'))
('Biology', Decimal('69000.0000'))
('Finance', Decimal('85000.0000'))
('Music', Decimal('40000.0000'))
('Physics', Decimal('91000.0000'))
('History', Decimal('61000.0000'))
('Elec. Eng.', Decimal('80000.0000'))
Time Taken : 0.007993459701538086

### Question 3
### Create a role of student

In [31]:
query = "select user , host from mysql.user"
cursor.execute(query)
for x in cursor:
    print(x)

('Ashutosh', '%')
('TestRole_readOnly', '%')
('read_only', '%')
('view_only', '%')
('dummy1', 'localhost')
('dummy4', 'localhost')
('kushashu', 'localhost')
('mysql.infoschema', 'localhost')
('mysql.session', 'localhost')
('mysql.sys', 'localhost')
('new_user', 'localhost')
('root', 'localhost')

In [33]:
query = "create role student_role'"
cursor.execute(query)

### Question 4
### Give select privileges on the view faculty to the role student.

In [34]:
query = "grant select on adbms.faculty to student_role"
cursor.execute(query)

### Question 5
### Create a new user and assign her the role of student

In [35]:
query = "create user student"
cursor.execute(query)

In [37]:
query = "select user , host from mysql.user"
cursor.execute(query)
for x in cursor:
    print(x)

('Ashutosh', '%')
('TestRole_readOnly', '%')
('read_only', '%')
('student', '%')
('student_role', '%')
('view_only', '%')
('dummy1', 'localhost')
('dummy4', 'localhost')
('kushashu', 'localhost')
('mysql.infoschema', 'localhost')
('mysql.session', 'localhost')
('mysql.sys', 'localhost')
('new_user', 'localhost')
('root', 'localhost')

In [38]:
query = "grant 'student_role' to 'student'@'%'"
cursor.execute(query)

### Question 6
### Revoke privileges of the new user

In [39]:
query = "revoke 'student_role' from 'student'@'%'"
cursor.execute(query)

### Question 7
### Remove the role of student.

In [40]:
query = "revoke select on adbms.faculty from 'student_role'"
cursor.execute(query)

### Question 8
### Give select privileges on the view faculty to the new user.

In [41]:
query = "grant select on adbms.faculty to 'student'@'%'"
cursor.execute(query)

In [47]:
## Currently Existing Table in dbms
query = "show tables"
cursor.execute(query)
for x in cursor:
    print(x)

('department_salary_total',)
('dept_avg',)
('dp',)
('faculty',)
('instructor',)
('teaches',)

### Question 9
### Create table teaches2 with same columns as teaches but with additional constraint that that semester is one of fall, winter, spring or summer.

In [54]:
query = "create table teaches2\
( ID int ,\
Course_id varchar(20),\
sec_id varchar(20),\
semester varchar(20),\
year int,\
check (semester in ('fall','winter','spring','summer'))\
);"
cursor.execute(query)

In [56]:
query = "insert into teaches2 select * from teaches "
cursor.execute(query)

### Question 10
### Create index ID column of teaches. Compare the difference in time to obtain query results with or without index.

In [57]:
query = "create index ind on teaches(id)"
cursor.execute(query)

In [58]:
### Time Comparision Using Index and without index

In [62]:
start = time.time()
query = "select * from teaches use index(ind);"
cursor.execute(query)
end = time.time()
for x in cursor:
    print(x)
print("Time Taken to traverse table using Index: ",end-start)

(10101, 'CS-101', '1', 'Fall', 2017)
(10101, 'CS-315', '1', 'Spring', 2018)
(10101, 'CS-347', '1', 'Fall', 2017)
(12121, 'FIN-201', '1', 'Spring', 2018)
(15151, 'MU-199', '1', 'Spring', 2018)
(22222, 'PHY-101', '1', 'Fall', 2017)
(32343, 'HIS-351', '1', 'Spring', 2018)
(45565, 'CS-101', '1', 'Spring', 2018)
(45565, 'CS-319', '1', 'Spring', 2018)
(76766, 'BIO-101', '1', 'Summer', 2017)
(76766, 'BIO-301', '1', 'Summer', 2018)
(83821, 'CS-190', '1', 'Spring', 2017)
(83821, 'CS-190', '2', 'Spring', 2017)
(83821, 'CS-319', '2', 'Spring', 2018)
(98345, 'EE-181', '1', 'Spring', 2017)
Time Taken to traverse table using Index:  0.0

In [63]:
start = time.time()
query = "select * from teaches;"
cursor.execute(query)
end = time.time()
for x in cursor:
    print(x)
print("Time Taken to traverse table without  Index: ",end-start)

(10101, 'CS-101', '1', 'Fall', 2017)
(10101, 'CS-315', '1', 'Spring', 2018)
(10101, 'CS-347', '1', 'Fall', 2017)
(12121, 'FIN-201', '1', 'Spring', 2018)
(15151, 'MU-199', '1', 'Spring', 2018)
(22222, 'PHY-101', '1', 'Fall', 2017)
(32343, 'HIS-351', '1', 'Spring', 2018)
(45565, 'CS-101', '1', 'Spring', 2018)
(45565, 'CS-319', '1', 'Spring', 2018)
(76766, 'BIO-101', '1', 'Summer', 2017)
(76766, 'BIO-301', '1', 'Summer', 2018)
(83821, 'CS-190', '1', 'Spring', 2017)
(83821, 'CS-190', '2', 'Spring', 2017)
(83821, 'CS-319', '2', 'Spring', 2018)
(98345, 'EE-181', '1', 'Spring', 2017)
Time Taken to traverse table without  Index:  0.008013486862182617

### Question 11
### Drop the index to free up the space.

In [65]:
query = "drop index ind on teaches"
cursor.execute(query)